doctype html
html(lang="zh-tw")
head
    //------------------------------使用的字符編碼------------------------------//
    meta(charset='UTF-8')

    //------------------------------優先使用IE最新版本和Chrome------------------------------//
    meta(http-equiv='X-UA-compatible' content='ie=edge,chrome=1')

    //------------------------------符合各裝置最佳預覽------------------------------//
    meta(name='viewport'
        content='width=device-width'
        height='device-height'
        initial-scale='1.0'
        minimum-scale='1.0'
        maximum-scale='1.0'
        user-scalable='no')

    //------------------------------網頁頁面資訊------------------------------//
    title Hahow好學校課程募資
    meta(name='description' content='Hahow好學校課程募資頁面')
    meta(name='author' content='黃俊傑')

    //------------------------------頁面在Facebook、Plurk、LINE資訊------------------------------//
    meta(property='og:title' content='Hahow好學校課程募資')
    meta(property='og:description' content='Hahow好學校課程募資頁面')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://jack842248.github.io/hahow-lesson/')
    meta(property='og:image' content='...')
    meta(property='og:site_name' content='jack842248')

    //------------------------------頁面在Google+、Pinterest、LinkedIn資訊------------------------------//
    meta(itemprop='name' content='Hahow好學校課程募資')
    meta(itemprop='description' content='Hahow好學校課程募資頁面')
    meta(itemprop='image' content='...')

    //------------------------------頁面在twitter資訊------------------------------//
    meta(name='twitter:title' content='Hahow好學校課程募資')
    meta(name='twitter:description' content='Hahow好學校課程募資頁面')
    meta(name='twitter:card' content='website')
    meta(name='twitter:image' content='...')
    meta(name='twitter:site' content='jack842248')

    //------------------------------在各瀏覽器上網址的顯示------------------------------//
    link(rel='canonical' href='https://jack842248.github.io/hahow-lesson/')
    
    //------------------------------favicon------------------------------//
    //- link(rel='icon' href='images/favicon.ico')

    //------------------------------讓連結都以新開視窗方式打開------------------------------//
    //- base(target='_blank')

    //------------------------------CSS樣式連結------------------------------//
    link(rel='stylesheet' type="text/css" href='css/bootstrap.css')
    link(rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
    link(rel='stylesheet' type="text/css" href='css/all.css')

body
    header
        .header-bar
        
    main#app
        .class-card(v-for="item in items")
            .card-teacher(v-bind:style="'background-image:url('+item.owner.profileImageUrl+')'")
            .card-header
                .pic(v-bind:style="'background-image:url('+item.coverImage.url+')'")
                .tag 募資中
                .book
                    i.far.fa-bookmark
            .card-body
                .title {{item.title}}
                .content
                    .text
                        .price 預購價 
                            span NT${{item.preOrderedPrice}}
                        .day 剩
                            span {{parseInt((new Date(item.proposalDueTime)-new Date("2016-10-14"))/1000/60/60/24)}}天
                    .progress-bar
                        .inner-bar
                    .raise 已募資
                        span.raise-text {{item.numSoldTickets}}/{{item.successCriteria.numSoldTickets}}人
            .bottom





    //------------------------------JS連結檔------------------------------//
    script(src='js/bootstrap.js')
    script(src='js/jquery.js')
    script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js')
    script(src='js/all.js')